.display {
    grid-column: span 4;
    background-color: rgb(29, 35, 40);
    color: #fff;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.2em;
    overflow: hidden;
}