@font-face {
  font-family: 'JuraLight';
  src: url('./fonts/Jura-Light.ttf');
}

* {
  font-family: 'JuraLight';
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: black;
}
